---
import Layout from "../layouts/Layout.astro";

//班の名前を書いてください
const groupName = "0班";
// 呼んでほしい名前を書いてください。
const members: string[] = ["member1", "member2", "member3", "member4", "member5"];
---

<Layout title="jsys24-hackathon">
  <h1>jsys24-hackathon</h1>
  <h2>{groupName}</h2>
  <ul>
    {
      members.map((member) => (
        <li>
          <a href={"./" + member + "/"}>{member}</a>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 60px;
  }
  ul {
    width: 200px;
    margin: auto;
  }
  li {
    list-style: none;
  }
</style>
